import libraries

In [2]:
import ecopy as ep
import pandas as pd

import project functions

### read all_hex_digi_poi_type_cnt_total_cnt

In [3]:
all_hex_digi_poi_type_cnt_total_cnt = pd.read_csv('../data output/3 london_boundary_hex9_digi_type_cnt_total_cnt.csv')

In [4]:
all_hex_digi_poi_type_cnt_total_cnt.head()

,hex9,Adult shops,Adult venues,Airports and landing strips,Alcoholic drinks,Alcoholic drinks including off licences and wholesalers,Amusement parks and arcades,Angling and sports fishing,"Animal feeds, pet foods, hay and straw",Aquaria and sea life centres,...,"Tram, metro and light railway stations and stops",Travel agencies,Underground network stations,Unspecified and other attractions,Unspecified and other schools,Walk-in centre,Watersports,Youth accommodation,Zoos and animal collections,total_cnt
0,89194ac0007ffff,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1,89194ac000bffff,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,89194ac001bffff,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,89194ac0023ffff,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,5
4,89194ac002bffff,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

## Shannon diversity index

In [6]:
# we dont need the first column of hex9 and the last of total poi cnts
shannonH = ep.diversity(all_hex_digi_poi_type_cnt_total_cnt.iloc[:,1:-2], 'shannon')

/home/lefteris/anaconda3/envs/geoindex/lib/python3.7/site-packages/ecopy/diversity/diversity.py:84: RuntimeWarning: invalid value encountered in true_divide
  z = z / z.sum(axis=1)[:,np.newaxis]

In [8]:
all_hex_digi_poi_type_cnt_total_cnt['shannon'] = shannonH

In [9]:
all_hex_digi_poi_type_cnt_total_cnt.head()

,hex9,Adult shops,Adult venues,Airports and landing strips,Alcoholic drinks,Alcoholic drinks including off licences and wholesalers,Amusement parks and arcades,Angling and sports fishing,"Animal feeds, pet foods, hay and straw",Aquaria and sea life centres,...,Travel agencies,Underground network stations,Unspecified and other attractions,Unspecified and other schools,Walk-in centre,Watersports,Youth accommodation,Zoos and animal collections,total_cnt,shannon
0,89194ac0007ffff,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,4.371369
1,89194ac000bffff,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,1.000000
2,89194ac001bffff,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2.000000
3,89194ac0023ffff,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,5,5.000000
4,89194ac002bffff,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,3.000000

In [10]:
all_hex_digi_poi_type_cnt_total_cnt.shannon.describe()

count    17047.000000
mean         4.054650
std          5.081298
min          1.000000
25%          1.000000
50%          2.000000
75%          4.762203
max         36.916886
Name: shannon, dtype: float64

In [11]:
# all_hex_digi_poi_type_cnt_total_cnt[['hex9', 'shannon']].to_csv('./4 london_boundary_hex9_diversity.csv', index=False)